/*Let's make sure that the dimensions of any box includes its border and padding, this gives us an easy way of sizing our elements*/
* {
    box-sizing: border-box;
}


.container > div{
    background-color: #66a5AD;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    /* margin: 2px; */
}

.container{
    height: auto;
    background-color: #07575B;
    display: grid;

    /* rows height */
    grid-template-rows: repeat(4, 45px);

    /* columns width */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* or */
    /* grid-template-columns: repeat(4, 1fr); */
    /* min max for the distribution of exactly the pixel stated */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));


    /* The initial template for the grid is called the explicit grid */

    /* gutter */
    grid-gap: 5px;

    padding: 7px;


    /* Set the height of any extra rows outside the template(implicit grid) */
    grid-auto-rows: 70px;

    /* Sets where the added extra rows to the column or row
        use grid-auto-flow:column ; for the column
        use grid-auto-flow:row ; for the rows
    

        Sets the minimum size for the added extra rows
        use grid-auto-columns: 200px;
        use grid-auto-rows:70px;
    */
    grid-auto-columns: 200px;
    grid-auto-flow: column;
}
